.register-form-container {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
    margin-top: 50px !important;
    margin-bottom: 30px!important;
  }
  
  .register-form input:not([type=checkbox]) {
    display: block;
    width: 100%;
    padding: 10px; 
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
  }
  
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus, 
  input[type="email"]:focus,
  .uneditable-input:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
  }
  
  .registerBtn {
    background: rgba(249, 165, 26, 1) !important;
    color: #fff;
    border: none !important;
    width: 100% !important;
    margin-top: 20px;
  }
  
  .register-title {
    font-size: 22px;
    color: #29282D;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 20px;
  }