.footer-container{
    background-color: #222; 
    height: 80px; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 0px;
}
small{
    color: #fff;
    font-weight: 300;
}